*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*/cache/!.htaccess
*.bin
*.txt
bin/
cgi-bin/
conf/
error/
icons/
logs/
manual/
modules/
application/config/
htdocs/phpmyadmin